  
  .available {
      color: green !important;
  }
  
  .not-available {
      color: red !important;
  }
 
  
  .price span {
      font-size: 30px;
      font-weight: bold;
  }
  
#stick-navbar {
    top:30px;
}