body {
    background: #eee !important;   
}

.navbar {
    box-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
}

.navbar-nav {
    margin: auto;
    
}

.navbar-nav > li {
    padding: 0 1em 0 1em;
}

#cart-prod {
    float:right;margin-bottom:-10px;
}

.footer {
    box-shadow: 0px 1px 4px rgb(0 0 0 / 40%);
}  

#notification-bar {
    display:none; bottom: 25px; left: 15px; 
    background-color: #202124;
    position: fixed; 
    z-index: 100; 
    color: #eeeeee;
    border: 1px solid; 
    border-radius: 5px; 
    padding: 10px;
}